{{> head}}

{{> navbar }} <!-- trae el contenido de navbar.hbs  -->

<div class="row">
    <div class="col-8">
        <h1>Imagen genérica</h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit recusandae labore iste? Illum error quos aliquam eum, accusamus sapiente rerum recusandae dignissimos ipsum iste minus odio deleniti, tempore, similique quas.
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/imagen1.jpg" class="img-thumbnail" alt="">
    </div>
</div>
    
{{> footer}}
